body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
}

header {
    background-color: #902923;
    padding: 40px;
    text-align: center;
}

nav {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
}

nav button {
    background: none;
    border: 1px solid #A22C29;
    color: #ffffff;
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

nav button:hover {
    background-color: #A22C29;
}

main {
    padding: 30px;
}

h2 {
    color: #A22C29;
}

.card {
    border: 1px solid #A22C29;
    padding: 15px;
    margin-top: 15px;
}

.tabs button {
    background-color: #902923;
    border: none;
    padding: 10px;
    margin-right: 5px;
    color: white;
}

.hidden {
    display: none;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
